#loginPageView {
    -fx-background-image: url("Images/kingV2.png");
    -fx-background-repeat:no-repeat;
    -fx-background-attachment:fixed;
    -fx-background-position: center;
    -fx-background-size:cover
}

#gamePageWindowId {
    -fx-background-image: url("Images/gameSceneTest.png");
    -fx-background-repeat:no-repeat;
    -fx-background-attachment:fixed;
    -fx-background-position: center;
    -fx-background-size:cover
}

.root {
    -fx-background-image: url("Images/plain.png");
    -fx-background-repeat:no-repeat;
    -fx-background-attachment:fixed;
    -fx-background-position: center;
    -fx-background-size:cover
}

.label {
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , #000000, 5, 0.0 , 1 , 1 );
    -fx-font-family: century;
}

.button {
    -fx-font-family: "Monotype Corsiva";
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#e8d186, #70602b);
    -fx-font-size: 18px;

    -fx-effect: dropshadow( three-pass-box , #000000, 5, 0.0 , 1 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-size: 18px;
}

.text-input {
    -fx-background-color: #4a515b;
    -fx-text-fill: #e8d186;
}

.text-area{
    -fx-text-fill: black;
}

.table-view{

    -fx-background-color: #e8d186;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
    -fx-text-fill: white;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-background-color: #4a515b;
    -fx-text-fill: white;
}

.table-view .cell{
    -fx-background-color: #29292D;
    -fx-text-fill: white;
}
.table-row-cell:selected .text {
    -fx-fill: #61a2b1;
}

.table-view .column-header#ColumnHeader .table-view {
    -fx-alignment: CENTER_RIGHT;
    -fx-background-color:#4a515b ;
    -fx-text-fill: #ffffff;
}